.profile-main-img {
    height: 300px;
    background-color: grey;
    padding: auto;
}

.mainRow {
    height: 500px;
}

.secondRow {
    height: 450px;
    display: inline-block;
}

.artistName {
    display: inline-block;
}

.star-wrapper{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star-wrapper i:hover {
    color: gold
  }

  .s1:hover ~ i {
    color: gold;
  }
  .s2:hover ~ i {
    color: gold;
  }
  .s3:hover ~ i {
    color: gold;
  }
  .s4:hover ~ i {
    color: gold;
  }
  .s5:hover ~ i {
    color: gold;
  }

/* .star-rating-row {
    position: relative;
}

.star-rating {
    position: absolute;
    top: -5px;
} */

.social-link {
    color: black;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.smImage {
    background-color: gainsboro;
    width: 100px;
    height: 200px;
}

.smImageRow {
    background-color: burlywood;
}

.calendar {
    width: 300px;
}