.profile-main-img {
    height: 300px;
    background-color: grey;
    padding: auto;
}

.artistName {
    display: inline-block;
}

/* .star-rating-row {
    position: relative;
}

.star-rating {
    position: absolute;
    top: -5px;
} */