
.header-image {
  height: 500px;
  background-color: black;
  background-image: url('https://media.cntraveller.com/photos/611bed73a954a4e571f6f36c/16:9/w_2580,c_limit/sofar-sounds-dec18-jane-jimenez-for-sofar-sounds.jpg');
  background-size: cover;
  background-position: 70% 60%;
  position: relative;
}

.header-text {
  color: white;
  font-size: 48px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.genre-list {
  display: flex;
  margin: auto;
  justify-content: center;
}
.genre {
  width: 100px;
  height: 100px;
  text-align: center;
  padding-right: 10px;
  overflow: hidden;
  position: relative;
  background-color: black;
  outline: black 2px solid;

}


.genreImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 0%;
  z-index: 0;
  opacity: .5;
  
}

.genreImage:hover {
  opacity: 1.0;
  cursor: pointer;
}

.genreText {
  z-index: 0;
  position: absolute;
  top:30px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  -webkit-text-stroke: 1px black;
}

.other {
  background-color: white;
}

.other:hover {
  cursor: pointer;
}
.other-Text {
  color: black;
}
.card {
  display: flex;
}
