/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --maingold: rgb(238,186,73);
  --purple: rgb(137,104,205);
  --maingold-darker: hsl(41,83%,41%);
  --purple-darker: hsl(260,50%,40%);
}

.am {
  font-family: "Amaranth", sans-serif;
}

.account-type-button {
  width: 100px;
  background-color: chocolate;
  border: none;
}
.signup-header {
  display: flex;
  flex-direction: row;
}
.signup-header:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid black;
  margin: 10px 3px;
}
.signup-user-type-select {
  display: inline;
}
.purplebutton {
  background-color: var(--purple);
  color: var(--maingold);
}

.purplebutton:hover {
  background-color: var(--purple-darker);
  color: var(--maingold-darker);
}
.card-gap {
  row-gap: 15px;
}
.artistCard {
  box-shadow: 12px 5px 34px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 12px 5px 34px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 12px 5px 34px rgba(0, 0, 0, 0.3);
}
.pic {
  background-size: cover;
  background-repeat: no-repeat;
}
