/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --maingold: rgb(228, 175, 0);
}

.am {
  font-family: 'Amaranth', sans-serif;
}

.account-type-button {
  width: 100px;
  background-color: chocolate;
  border: none;
}
.signup-header {
  display: flex;
  flex-direction: row;
}
.signup-header:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid black;
  margin: 10px 3px;
}
.signup-user-type-select {
  display: inline;
}
