.account-type-button {
    width: 100px;
    background-color: chocolate;
    border: none;
  }
  .signup-header {
    display: flex;
    flex-direction: row;
  }
  .signup-header:after {
    content: "";
    flex: 1 1;
    border-bottom: 3px solid black;
    margin: 10px 3px;
  }
  .signup-user-type-select {
    display: inline;
  }