.profile-main-img {
    height: 100%;
    width: 100%;
    background-color: grey;
    padding: auto;
    object-fit: cover;
}

.mainRow {
  height: 450px;
}
.mainContent {
    height: 5%;
}

.secondRow {
  /* outline: solid 1px red; */
  height: 250px;
}

.venueName {
    display: inline-block;
}

.star-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  .star-wrapper i:hover {
      color: gold
    }
  
    .s1:hover ~ i {
      color: gold;
    }
    .s2:hover ~ i {
      color: gold;
    }
    .s3:hover ~ i {
      color: gold;
    }
    .s4:hover ~ i {
      color: gold;
    }
    .s5:hover ~ i {
      color: gold;
    }

    .goldRating {
      color: gold;
    }

/* .star-rating-row {
    position: relative;
}

.star-rating {
    position: absolute;
    top: -5px;
} */

.social-link {
    color: black;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-decoration: none;
}

.social-link:hover {
  color: var(--maingold);
  border: 2px solid var(--maingold);
}

.smImage {
    background-color: gainsboro;
    width: 100%;
    height: 200px;
    justify-content: flex-start;
}



.calendar {
    height: 235px;
    object-fit: contain;
}

.map-h2 {
  font-weight: 700;
  
  text-align: center;
  font-size: 28px !important;
}

.where-we-are {
  /* outline: solid 1px blue; */
  height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#map {
  opacity: 0;
}

#map[fade='1'] {
  animation: fadeIn .5s 1;
  opacity: 100;
}

#map[fade='0'] {
  animation: fadeOut .5s 1;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 75%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
  }
}