.profile-main-img {
    height: 300px;
    background-color: grey;
    padding: auto;
}

.venueName {
    display: inline-block;
}

/* .star-rating-row {
    position: relative;
}

.star-rating {
    position: absolute;
    top: -5px;
} */

.social-link {
    color: black;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.smImage {
    background-color: gainsboro;
    width: 100px;
    height: 200px;
}

.smImageRow {
    background-color: burlywood;
}

.calendar {
    width: 300px;
}